{% extends "base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super }}{% endblock head_title %}
<style>
{% block style %} 
h1{
	color: #885533;
}
{% endblock style %}
</style>

{% block content %}
<!--  -->

<!--  -->
<div class="col-sm-6 col-sm-offset-3">
	{% if instance.image %}
	<img src='{{ instance.image.url }}' class='img-responsive'/>
	{% endif %}
	<h1>{{title}} <small>{{ instance.timestamp }}</small></h1>
	<p> Author: {{ instance.user }}</p>

	<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>
	

	<!-- {{ request.build_absolute_uri }} -->
<!-- 	<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}/">
		Facebook | 
	</a>

	<a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20{{ request.build_absolute_uri }}/">
		Twitter | 
	</a>

	<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google Plus | </a>

		<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source={{ request.build_absolute_uri }}/">
			Linkedin
		</a> -->
		<div width="100%">
			<table width="100%">
				<tr>
					<td class="col-sm-10 col-sm-offset-1">{{ instance.id }}<br/></td>
					<td><p><a href="{% url 'update' %}" class="btn btn-primary" role="button">Edit Post</a> </p></td>
					<td> <p><a href="./delete" class="btn btn-danger" role="button">Delete Post</a> </p></td>
				</tr>
				<tr>
					<td class="col-sm-10 col-sm-offset-1" style="font-weight:bold">{{ instance.title }}<br/></td>
				</tr>
				<tr>
					<td class="col-sm-10 col-sm-offset-1">{{ instance.content }}<br/></td>
				</tr>
			</table>			
			<br/>
			<title>Location</title>

	<!-- You should not need to edit any of the lines below here until you pass the line which says 
		<body> -->
			
	<!-- these three lines are for the Web Browser to figure out how to display this page
		in the best way on your device screen -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- This is the link to Leaflet for the CSS file and its Javascript file -->
		
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
		integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
		crossorigin=""/>	
		
		<!-- Make sure you put this AFTER Leaflet's CSS -->
		<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
		integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
		crossorigin=""></script>
		
		<!-- Latest Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<!-- And JQuery - one of the most important Javascript libraries on the Internet today -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>



		<div class="container-fluid">
			<div class="row"> 
				<!-- This is the start of your web page -->				

				<div id="map" style="width: 70%; height: 200px"></div>				

				<script>
					<!-- Starting latitude and longitude of the center of the map -->
					<!-- Here is the CENTER coordinates of our map -->
					{% if instance.latitude %}
					var LatitudeCenter = {{ instance.latitude }};
					{% endif %}
					{% if instance.longitude %}
					var LongitudeCenter = {{ instance.longitude }};
					{% endif %}

					<!-- here is the starting zoom level of our map -->
					var ZoomLevel = 16;
					var mymap = L.map('map', {
						center: [LatitudeCenter,  LongitudeCenter],
						zoom: ZoomLevel
					});

					<!-- select our background layers - usually from the Leaflet Layer Providers website -->
					<!-- The first layer here will be the one which is 'switched on' when the user loads the page -->

					var OpenStreetMap_Mapnik = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						maxZoom: 19,
						attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
					});
					mymap.addLayer(OpenStreetMap_Mapnik);

					var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
						attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
					});
					mymap.addLayer( Esri_WorldImagery);


					<!-- buildings around the university - add a few -->
					var EolasBuilding = L.marker([LatitudeCenter, LongitudeCenter]).bindPopup('Bloggers place');

					<!-- Create a layer to put these points into -->
					var overlayPointLayerUni = L.layerGroup([EolasBuilding]);

					<!-- add this layer directly to the map - this layer will be visible immediately -->
					mymap.addLayer(overlayPointLayerUni);

					<!-- Shops around Maynooth -->

					<!-- Create a layer to put these points into -->
					// var overlayPointLayerShops = L.layerGroup([TescoMaynooth,AldiMaynooth]);

					<!-- add this layer directly to the map - this layer will be visible immediately -->
					// mymap.addLayer(overlayPointLayerShops);

					<!-- Create the information for the layer switcher so users know which background layer is on or off -->
					var backgroundLayerNames = {"ESRI Aerial": Esri_WorldImagery, "OpenStreetMap Streets": OpenStreetMap_Mapnik};

					<!-- Create the information for the layer switcher so users know which foreground layer is on or off -->
					var overlayPointLayerNames = {"Bloggers Location": overlayPointLayerUni};

					<!-- This creates the layer switcher in the top corner of your map container -->
					<!-- This allows you to switch between the layers - turning them on or off -->
					L.control.layers(backgroundLayerNames,overlayPointLayerNames).addTo(mymap);

				</script>

				<!-- This is the end of your web page -->
				<!-- You should not change any code below this line -->
<!-- If you change the code below here and it is incorrect 
	then your web page will not display correctly -->

</div> <!-- end a row -->	
</div> <!-- close the container -->


<br/>
<p><a href="../" class="btn btn-primary" role="button">Back</a> </p>
<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</div>

</div>

{% endblock content %}



<!--DOCTYPE html -->
<!-- <html>
	<body>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %} -->


		<!-- the mentioned extended part should go here -->
		<!-- 
	</body>
</html> -->