{% extends "base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super }}{% endblock head_title %}
<style>
{% block style %} 
h1{
	color: #885533;
}
{% endblock style %}
</style>

{% block content %}
<!--  -->

<!--  -->
<div class="col-sm-6 col-sm-offset-3">
	{% if instance.image %}
	<img src='{{ instance.image.url }}' class='img-responsive'/>
	{% endif %}
	<h1>{{title}} <small>{{ instance.timestamp }}</small></h1>
	<p> Author: {{ instance.user }}</p>

	<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>
	

	<!-- {{ request.build_absolute_uri }} -->
<!-- 	<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}/">
		Facebook | 
	</a>

	<a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20{{ request.build_absolute_uri }}/">
		Twitter | 
	</a>

	<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google Plus | </a>

		<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source={{ request.build_absolute_uri }}/">
			Linkedin
		</a> -->
		<div width="100%">
			<table width="100%">
				<tr>
					<td class="col-sm-10 col-sm-offset-1">{{ instance.id }}<br/></td>
					<td><p><a href="{% url 'posts:update' instance.id %}" class="btn btn-primary" role="button">Edit Post</a> </p></td>
					<td> <p><a href="{% url 'posts:delete' instance.id %}" class="btn btn-danger" role="button">Delete Post</a> </p></td>
				</tr>
				<tr>
					<td class="col-sm-10 col-sm-offset-1" style="font-weight:bold">{{ instance.title }}<br/></td>
				</tr>
				<tr>
					<td class="col-sm-10 col-sm-offset-1">{{ instance.content }}<br/></td>
				</tr>
			</table>			
			<br/>
			<title>Location</title>

	<!-- You should not need to edit any of the lines below here until you pass the line which says 
		<body> -->
			
	<!-- these three lines are for the Web Browser to figure out how to display this page
		in the best way on your device screen -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- This is the link to Leaflet for the CSS file and its Javascript file -->
		
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
		integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
		crossorigin=""/>	
		
		<!-- Make sure you put this AFTER Leaflet's CSS -->
		<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
		integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
		crossorigin=""></script>
		
		<!-- Latest Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<!-- And JQuery - one of the most important Javascript libraries on the Internet today -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


		<!-- for line-String -->
		<meta charset="utf-8" />
		  <meta name="viewport" content="width=device-width, initial-scale=1.0">

		  <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

		  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
		  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
		<!-- end -->
		<div class="container-fluid">
			<div class="row"> 
				<!-- This is the start of your web page -->				
				<div class="col-sm-12">
                    <h4>Files Summary</h4>
                    <div class="row">
                        <div id="summaryGrid" style="width: 300px; height: 140px"></div>
                     </div>
                  </div>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                 
                  
				<div id="map" style="width: 70%; height: 200px"></div>				
				<br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <div id="lineMap" style="width: 100%; height: 300px;"></div>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
				<div class="col-sm-12">
                    <h4>File Summary</h4>
                    <div class="row">
                        <div id="fileSummaryGrid" style="width: 300px; height: 340px"></div>
                     </div>
                  </div>
				<script>
					<!-- Starting latitude and longitude of the center of the map -->
					<!-- Here is the CENTER coordinates of our map -->
					{% if instance.latitude %}
					var LatitudeCenter = {{ instance.latitude }};
					{% endif %}
					{% if instance.longitude %}
					var LongitudeCenter = {{ instance.longitude }};
					{% endif %}

					<!-- here is the starting zoom level of our map -->
					var ZoomLevel = 16;
					var mymap = L.map('map', {
						center: [LatitudeCenter,  LongitudeCenter],
						zoom: ZoomLevel
					});

					<!-- select our background layers - usually from the Leaflet Layer Providers website -->
					<!-- The first layer here will be the one which is 'switched on' when the user loads the page -->

					var OpenStreetMap_Mapnik = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						maxZoom: 19,
						attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
					});
					mymap.addLayer(OpenStreetMap_Mapnik);

					var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
						attribution: ''
					});
					mymap.addLayer( Esri_WorldImagery);


					<!-- buildings around the university - add a few -->
					var EolasBuilding = L.marker([LatitudeCenter, LongitudeCenter]).bindPopup('Bloggers place');

					<!-- Create a layer to put these points into -->
					var overlayPointLayerUni = L.layerGroup([EolasBuilding]);

					<!-- add this layer directly to the map - this layer will be visible immediately -->
					mymap.addLayer(overlayPointLayerUni);

					<!-- Shops around Maynooth -->

					<!-- Create a layer to put these points into -->
					// var overlayPointLayerShops = L.layerGroup([TescoMaynooth,AldiMaynooth]);

					<!-- add this layer directly to the map - this layer will be visible immediately -->
					// mymap.addLayer(overlayPointLayerShops);

					<!-- Create the information for the layer switcher so users know which background layer is on or off -->
					var backgroundLayerNames = {"ESRI Aerial": Esri_WorldImagery, "OpenStreetMap Streets": OpenStreetMap_Mapnik};

					<!-- Create the information for the layer switcher so users know which foreground layer is on or off -->
					var overlayPointLayerNames = {"Bloggers Location": overlayPointLayerUni};

					<!-- This creates the layer switcher in the top corner of your map container -->
					<!-- This allows you to switch between the layers - turning them on or off -->
					L.control.layers(backgroundLayerNames,overlayPointLayerNames).addTo(mymap);

				</script>

				

				<!-- This is the end of your web page -->
				<!-- You should not change any code below this line -->
<!-- If you change the code below here and it is incorrect 
	then your web page will not display correctly -->

</div> <!-- end a row -->	
</div> <!-- close the container -->

<br/>
<br/>
<form action="" method="GET">
 <input type="text" value="c:/" name="mytextbox" size="50"/>
 <input type="submit" class="btn" value="Upload GPX Files" name="mybtn">
 
 <br/>
 <input type="submit" class="btn" value="Load Summary API" name="btnSummaryAPILoad">
</form>
<br/>
<br/>
<p><a href="../" class="btn btn-primary" role="button">Back</a> </p>
<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</div>

</div>

<script type="text/javascript">
	var endpoint = '../../api/summary';
    var fileSummary;
    var fileNames=[];
    var uniqueFileNames = [];
    
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            fileSummary= data
            console.log(data);
            buildsummaryGrid();
            buildFilesDropdown();
            },
            error: function(error_data){
                console.log("error");
                console.log(error_data);
                }
        });

    function buildsummaryGrid() {
	    var x = document.createElement("TEXTAREA");
	    x.setAttribute("id","txtArea");
	    x.cols="80";
	    x.rows="25";
	    var t = document.createTextNode(JSON.stringify(fileSummary));
	    x.appendChild(t);

	    document.getElementById("summaryGrid").appendChild(x); 
	};

	function apiCall(fname){
		var selectedValue = fname.value;
		// if (fname!=undefined) {
		// 	endpoint = endpoint + '?filename='+fname
		// }

		$.ajax({
	        method: "GET",
	        url: endpoint + '?filename='+fname,
	        success: function(data){
	            fileSummary= data
	            console.log(data);
	            
				if(document.getElementById("fileSummaryGrid").childNodes.length>0){
					document.getElementById("fileSummaryGrid").innerHTML='';
				}
	            var x = document.createElement("TEXTAREA");
				 x.setAttribute("id","txtArea");
				 x.cols="80";
				 x.rows="25";
				 var t = document.createTextNode(JSON.stringify(fileSummary));
				 x.appendChild(t);

				 document.getElementById("fileSummaryGrid").appendChild(x);
	            },
	            error: function(error_data){
	                console.log("error");
	                console.log(error_data);
	                }
	        });
	};

	var lineString=[];
	var endpointLineString= '../../api/lineStringJson';
	function apiCallLineString(fname){
		var selectedValue = fname.value;
		// if (fname!=undefined) {
		// 	endpointLineString = endpointLineString + '?filename='+fname;
		// }
		// else{
		// 	alert("filename not defined");
		// 	return;
		// }
		$.ajax({
	        method: "GET",
	        url: endpointLineString + '?filename=' + fname,
	        success: function(data){
	            lineString= data[0].lineString;
	            lineString= JSON.parse(lineString.replace(/\//g,' '));
	            console.log(lineString);
	            drawLineString();
	            },
	            error: function(error_data){
	                console.log("error");
	                console.log(error_data);
	                }
	        });
	};
	
	function buildFilesDropdown(){
			for(var i=0;i<fileSummary.length;i++){
	    fileNames[i]= fileSummary[i].fileName;
	    }

		
		$.each(fileNames, function(i, el){
		    if($.inArray(el, uniqueFileNames) === -1) uniqueFileNames.push(el);
		});

		var select = document.createElement('select');
		select.setAttribute("id","select_id");
		//select.setAttribute("onchange",apiCall(this));

		for(var i=0;i<uniqueFileNames.length;i++){
		// Use the Option constructor: args text, value, defaultSelected, selected
		var option = new Option(uniqueFileNames[i], uniqueFileNames[i], false, false);
		// option.setAttribute("onchange",val(option.value));
		// option.setAttribute("id","select_id");
		select.appendChild(option);	
		}
		document.getElementById("summaryGrid").appendChild(select);
	};



	function drawLineString(){
						 	var startIcon = L.icon({
	                        iconUrl: 'https://unpkg.com/leaflet@1.0.3/dist/images/marker-icon-2x.png',
	                        iconSize:     [28, 45], 
	                        iconAnchor:   [15, 44], 
	                        popupAnchor:  [-3, -76] 
	                    });
						 	var stopIcon = L.icon({
	                        iconUrl: '../static/images/Location_stop.png',
	                        iconSize:     [28, 45], 
	                        iconAnchor:   [15, 44], 
	                        popupAnchor:  [-3, -76] 
	                    });
	                   
	                    	if(document.getElementById('lineMapInBuilt')!=null){
	                    	document.getElementById('lineMapInBuilt').remove();
	                    }
						 	document.getElementById('lineMap').innerHTML = '<div id="lineMapInBuilt" style="width: 100%; height: 300px;"></div>';


								  var map = new L.map('lineMapInBuilt').setView([lineString.coordinates[0][1], lineString.coordinates[0][0]], 8);
								  var OpenStreetMap_Mapnik = new L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
									maxZoom: 16,
									attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
								});
								map.addLayer(OpenStreetMap_Mapnik);

								var Esri_WorldImagery = new L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}');
	                    		map.addLayer( Esri_WorldImagery);

	                    		var backgroundLayerNames = {"ESRI Aerial": Esri_WorldImagery, "OpenStreetMap Streets": OpenStreetMap_Mapnik};

								L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
								  id: 'mapbox.streets'
								}).addTo(map);

								startingPoint = L.marker([lineString.coordinates[0][1], lineString.coordinates[0][0]],{icon: startIcon}).bindPopup('Page Visit');
	                            overlay = L.layerGroup([startingPoint]);
	                            map.addLayer(overlay);

								var aT0625124projectlimits0 = {
								  "type": "FeatureCollection",
								  "features": [{
								    "type": "Feature",
								    "geometry": lineString,
								    "properties": {
								      "OBJECTID": 16,
								      "Contract_N": "AT0625124",
								      "SHAPE_Leng": "53224.7785428",
								      "Completion": "100"
								    }
								  }]
								}

								L.geoJson(aT0625124projectlimits0, {
								  style: function(feature) {
								    return {
								      stroke: true,
								      color: "blue",
								      weight: 5
								    };
								  },
								  onEachFeature: function(feature, layer) {
								    layer.bindPopup("id: " + feature.properties.OBJECTID + "<br>" +
								      "Contract_N: " + feature.properties.Contract_N);
								  }
								}).addTo(map);

								L.control.layers(backgroundLayerNames,overlayPointLayerNames).addTo(map);
							};	
						 

	// $('#select_id').change(function(){
	// 		    // alert($(this).val());
	// 		    //apiCall($( "#select_id" ).val());
	// 		    apiCallLineString($( "#select_id" ).val());
	// 		    //drawLineString();
	// 		});

	$(document).ready(function(){
		    $('#select_id').change(function(){
			    // alert($(this).val());
			    //($( "#select_id" ).val());
			    apiCallLineString($( "#select_id" ).val());
			    apiCall($( "#select_id" ).val());
			    //drawLineString();
			});
		});	
				
</script>
{% endblock content %}
